.site-nav__wrapper{
	background: $white;
	padding: 15px 0;
	position: relative;
	width: 100%;
	
	@include media-min( large ) {
		background: transparent;
		position: absolute;
		z-index: 1;
		top: 0;
		left:0;
		padding:0;
	}
}

.site-nav__logo{
	background: $white url(../images/logo-petplan--mobile.png) no-repeat 0 0;
	width: 107px;
	height: 32px;
	margin: 0 auto;
	text-indent: -2000em;


    @include media-min( large ) {
		background: transparent url(../images/logo-petplan--desktop.png) no-repeat 0 0;

		background-size: 294px 138px;
		margin: 0 0;
		position: absolute;
		left:0;
		width: 294px;
		height: 138px;
    }
	@media only screen 
		and (min-width : 1100px) {
		width: 353px;
		height: 166px;
		background-size: auto auto;
	}
}

.site-nav__items{
	display: none;

	@include media-min( large ) {
		display: table;
		float: right;
		position: absolute;
		top: 50px;
		right: 0;
	}

	a{
		text-decoration: none;
	}
}

.site-nav__item{
	display: table-cell;
	color: $white;
	padding: 0 20px;

	a{
		&:hover{
			border-bottom: 4px solid $yellow-link;
		}	
	}

}
.site-nav__item-selected{
	a{
		border-bottom: 4px solid $yellow-link;
	}
}


.site-nav__sub{
	display: none;
	margin-top: 20px;
	 @extend .h5;
	@include media-min( large ) {

		display: table;
		float: right;
	}
}

.site-nav__sub-item{

	@include media-min( large ) {
		color: $white;
		display: table-cell;
		padding: 0 20px;
	}

}







