.sticky-footer{
	background: #f7fafc;
	position: fixed;
	bottom:0;
	z-index: 100;
	width: 100%;
	padding: 5px 0;
	height: $sticky-footer-height-mobile;
	@include media-min( medium ) {
		padding: 15px 0;
		height: $sticky-footer-height;
	}
}
.sticky-footer__mini-col{
	@include media-min( small ) {
		width: 50%;
		float: left
	}

	@include media-min( medium ) {
		width: auto;
		
	}

}
.sticky-footer__live-chat{

	background: url("../images/footer-live-chat.png") no-repeat left center;
	background-size:25px 25px;
	padding: 15px 0 15px 30px;
	display: inline-block;
	float: left;
	@include media-min( medium ) {
		background-size:auto;
		padding: 15px 0 15px 30px;
		padding-left: 60px;
	}
}

.sticky-footer__phone{
	background: url("../images/footer-phone.png")  no-repeat left center;
	background-size:25px 25px;
	padding: 15px 0 15px 30px;
	display: inline-block;
	float: left;
	margin-left: 15px;

	@include media-min( medium ) {
		background-size:auto;
		margin-left: 30px;
		padding: 15px 0 15px 30px;
		padding-left: 60px;
	}
}

.sticky-footer__logo{
	display:none;
    @include media-min( medium ) {
		position: absolute;
		right:0;
		top: -22px;
		display: block
	}
}

.sticky-footer__petplan-logo{
	display:none;
    @include media-min( medium ) {
		padding: 15px 70px 15px 0;
		display: inline-block;
		float:right;
	}
}