<div class= "{ container daniel } ">
	<div class="{ row }">
		<div class="{ column col--small-1 } [ hide-below--medium ]">&nbsp;
		<div style="background:green; height: 200px">
					fefdwdwdwdwd
			</div>
		</div>
		<div class="{ column  col--medium-10 }">
			<div style="background:red; height: 200px">
					fefdwdwdwdwd
			</div>
		</div>
		<div class="{ column col--small-1 } [ hide-below--medium ]">&nbsp;
		<div style="background:green; height: 200px">
					fefdwdwdwdwd
			</div>
		</div>
	</div>
	<div class="{ row }">
		<div class="{ column col--small-1 } [ hide-below--medium ]">&nbsp;
		<div style="background:green; height: 200px">
					fefdwdwdwdwd
			</div>
		</div>
		<div class="{ column  col--small-6  col--medium-5 }">
			<div style="background:blue; height: 200px">
					fefdwdwdwdwd
			</div>
		</div>
		<div class="{ column  col--small-6 col--medium-5 }">
			<div style="background:green; height: 200px">
					fefdwdwdwdwd
			</div>
		</div>
		<div class="{ column col--small-1 } [ hide-below--medium ]">&nbsp;
		<div style="background:green; height: 200px">
					fefdwdwdwdwd
			</div>
		</div>
	</div>\<div class="{ row }">
		

		<div class="{ column  col--small-12  }">
			<div style="background:blue; height: 200px">
					fefdwdwdwdwd
			</div>
		</div>


	</div>
</div>