
<div class="pb_container">
	<h1>Level one heading</h1>
	<h2 class="heading--beta"><a href="">Level two heading</a></h2>
	<h3>Level three heading</h3>
	<h4>Level four heading</h4>
	<h5>Level five heading</h5>
	<h6>Level six heading</h6>
	<hr>
	<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Maiores optio, illo fuga ducimus unde consequuntur ex. Facere possimus ratione consequuntur tenetur expedita voluptatibus. Nostrum consectetur, minus, qui tempora quidem impedit.</p>
	<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Quae harum omnis itaque, sint consectetur quasi earum culpa explicabo soluta est ipsum modi libero rem! Reiciendis nisi amet, eos hic maxime.</p>
	<p>Lorem ipsum dolor sit amet, <em>consectetur adipisicing elit. Ipsam</em>, quisquam architecto cupiditate, error excepturi iste? Esse omnis distinctio eius placeat nulla commodi ipsa aut adipisci deserunt, eaque, voluptatum praesentium sapiente.</p>
	<p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime porro nulla voluptatibus ut a officia quasi sunt cumque ad fugit mollitia, odio dolore, praesentium rerum explicabo velit tempora aliquid dolor.</small></p>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti esse aliquam corporis voluptatum. Neque assumenda odio quidem praesentium facere officiis. Maxime laborum, molestiae consequuntur delectus, laudantium facilis maiores labore vitae!</p>
	<p>Lorem ipsum dolor sit amet, <mark>consectetur adipisicing elit</mark>. Tempore earum debitis temporibus laboriosam ullam nobis, omnis, rerum nihil culpa ipsum provident molestias error ea ab eaque optio labore vel deleniti?</p>
	<hr>
	<p>
		<button class="button--alpha">primary button</button>
		<button class="button--beta">secondary button</button>
		<a href="#" class="button--beta">secondary button (link)</a>
	</p>
	<p>
		<button class="button--alpha button--block">primary button</button>
	</p>
	<hr>

	<form>
		<div class="form-field-cover">
			<label for="input-field" class="form-field-label">Input field:</label>
			<input type="text" id="input-field" name="input-field" class="field-input">
		</div>

		<div class="form-field-cover">
			<label for="textarea-field" class="form-field-label">Textarea field:</label>
			<textarea name="textarea-field" id="textarea-field" class="field-input" rows="5"></textarea>
		</div>

		<div class="form-field-cover">
			<input type="radio" name="radio-button" id="radio-button-1" class="field-radio">
			<label for="radio-button-1" class="field-radio__label">Radio button example</label>
		</div>

		<div class="form-field-cover">
			<input type="radio" name="radio-button" id="radio-button-2" class="field-radio">
			<label for="radio-button-2" class="field-radio__label">Radio button example</label>
		</div>

		<div class="form-field-cover">
			<input type="checkbox" name="checkbox" id="checkbox" class="field-checkbox">
			<label for="checkbox" class="field-checkbox__label">Checkbox example</label>
		</div>

		<div class="form-field-cover">
			<label for="selectField" class="form-field-label">Select list:</label>
			<div class="field-select">
				<select name="selectField" id="selectField" class="field-select__input">
					<option value="#">Option one</option>
					<option value="#">Option two</option>
					<option value="#">Option three</option>
					<option value="#">Option four</option>
				</select>
			</div>
		</div>


	</form>

	<div class="row row--huge">
		<div class="column col--small-6 col--medium-6 col--large-12 col--huge-4"></div>
		<div class="column col--small-6 col--medium-3 col--large-6 col--huge-4"></div>
		<div class="column col--small-12 col--medium-3 col--large-6 col--huge-4"></div>
	</div>

</div>




<style>
	/*
		Styles for demo puroses only
	 */
	.pb_container {
		max-width: 480px;
		margin: auto;
		margin-bottom: 300px;
	}
	hr {
		border: none;
		border-top: 1px solid #2980b9;
		margin: 2em 0;
	}
	.hide {
		display: none;
	}
	.column {
		margin-bottom: 30px;
	}
	.column:before {
		content: '';
		display: block;
		padding: 30px;
		background: #2980b9;
	}
</style>
