/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

@mixin button_reset() {
    cursor: pointer;

    &:hover, &:active {
        outline: 0;
    }
    &:focus {
        outline: thin dotted $gray-darker;
    }
}

@mixin button_base() {
    font-family: inherit;

    line-height: 1;
    text-align: center;
    white-space: none;
    text-decoration: none;

    display: inline-block;
    background: none;
   
    border: 3px solid;
    border-radius: 5px;

    transition: $transition-bg;

     @include media-max(small) {
        font-size: $h3-font-size-mobile;
        padding: 18px 30px;
    }

    @include media-min(small) {
        font-size: $h3-font-size;
        padding: 20px 60px;
    }
}

button {
    @include button_reset();
}



/* button state variations
 -----------------------------------*/
.button--block {
    text-align: center;

    display: block;
    width: 100%;
}

.button--mobile-block {
    @include media-max(small) {

        display: block;
        width: 100%;
    }
}

.button--last{
     @include media-max(small) {
        margin-top: 20px;
     }
}

.button--no-padding {
    padding-right: 0;
    padding-left: 0;
}

/* base button variations
 -----------------------------------*/
.button--alpha {
    @include button_base();

    color: $white;
    border-color:  $color-alpha;
    background-color: $color-alpha;

    &:hover {
        background-color: $color-alpha;
    }
}

.button--alpha-clear {
    @include button_base();

    color: $color-alpha;
    font-weight: normal;

    background-color: transparent;
    border: 2px solid $color-alpha;

    &:hover {
        border-color: $color-alpha-light;
    }
}

.button--beta {
    @include button_base();

    color: $white;
    border-color:  $color-beta;
    background-color: $color-beta;

    &:hover {
        background-color: $color-beta;
    }
}

.button--tertiary {
    @include button_base();

    color: $white;
    border-color:  $color-tertiary;
    background-color: $color-tertiary;

    &:hover {
        background-color: $color-tertiary;
    }
}
.button--info {
    @include button_base();

    color: $white;
    border-color:  $color-info;
    background-color: $color-info;

    &:hover {
        background-color: $color-info;
    }
}
.button--beta-clear {
    @include button_base();

    color: $color-beta;
    font-weight: normal;

    background-color: transparent;
    border: 2px solid $color-beta;

    &:hover {
        border-color: $color-beta-light;
    }
}


.button--white-clear {
    @include button_base();

    color: $white;
    font-weight: normal;

    background-color: transparent;
    border: 2px solid  $white;

    &:hover {
        border-color:  $white;
    }
}

.button--small {

     @include media-max(small) {
        font-size: $h5-font-size-mobile;
        padding: 16px 10px;
   
    }

    @include media-min(small) {
        font-size: $h5-font-size;
        padding: 20px 30px;
    }
    font-weight: normal;
}

.button--smaller {

     @include media-max(small) {
        font-size: $h5-font-size-mobile;
        padding: 10px 10px;
   
    }

    @include media-min(small) {
        font-size: $h5-font-size;
        padding: 10px 30px;
    }
    font-weight: normal;
}


.button--alpha-clear-chevron {
    background-image: url(../images/chevron-link--clear-blue.png);
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
}

.button--alpha-white-chevron {
    background-image: url(../images/chevron-link--clear-white.png);
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
}
