/*------------------------------------*\
    GRID
\*------------------------------------*/



/* Containers
 -----------------------------------*/
.container {
    @include center-block();

    max-width: $container-width;
    padding-right: 20px;
    padding-left: 20px;
}

.container--no-padding {
    padding:0;
}
.container--max-small {
    @include center-block();

    max-width: $screen-small;
}
.container--max-medium {
    @include center-block();

    max-width: $screen-medium;
}
.container--max-large {
    @include center-block();

    max-width: $screen-large;
}
.container--max-huge {
    @include center-block();

    max-width: $screen-huge;
}


/* Rows
 -----------------------------------*/
.row {
    @include clearfix();
}

.row--nano {
    @include make-row($spacing-nano);
}
.row--micro {
    @include make-row($spacing-micro);
}
.row--milli {
    @include make-row($spacing-milli);
}
.row--centi {
    @include make-row($spacing-centi);
}
.row--deci {
    @include make-row($spacing-deci);
}
.row--deca {
    @include make-row($spacing-deca);
}
.row--hecto {
    @include make-row($spacing-hecto);
}
.row--kilo {
    @include make-row($spacing-kilo);
}
.row--mega {
    @include make-row($spacing-mega);
}
.row--giga {
    @include make-row($spacing-giga);
}



/* Column base
 -----------------------------------*/
.column {
    @include make-column-base(0);

    float: left;
    width: 100%;

    .row--nano & {
        @include make-column-base($spacing-nano);
    }
    .row--micro & {
        @include make-column-base($spacing-micro);
    }
    .row--milli & {
        @include make-column-base($spacing-milli);
    }
    .row--centi & {
        @include make-column-base($spacing-centi);
    }
    .row--deci & {
        @include make-column-base($spacing-deci);
    }
    .row--deca & {
        @include make-column-base($spacing-deca);
    }
    .row--hecto & {
        @include make-column-base($spacing-hecto);
    }
    .row--kilo & {
        @include make-column-base($spacing-kilo);
    }
    .row--mega & {
        @include make-column-base($spacing-mega);
    }
    .row--giga & {
        @include make-column-base($spacing-giga);
    }
}




/* Columns
 -----------------------------------*/

@include media-min(smallest) {
    @include setup-columns(col--smallest);
}
@include media-min(small) {
    @include setup-columns(col--small);
}
@include media-min(medium) {
    @include setup-columns(col--medium);
}
@include media-min(large) {
    @include setup-columns(col--large);
}
@include media-min(huge) {
    @include setup-columns(col--huge);
}
