<div class="site-nav { container  } [ position--relative ] ">
	<div class="site-nav__wrapper">
		<div class="site-nav__logo">
			Petplan
		</div>
		<ul class="site-nav__items">
			<li class="site-nav__item site-nav__item-selected [ text--large ]">
				<a href="#">Home</a>
			</li>
			<li class="site-nav__item [ text--large ]">
				<a href="#">Dog</a>
			</li>
			<li class="site-nav__item [ text--large ]">
				<a href="#">Cat</a>
			</li>
			<li class="site-nav__item [ text--large ]">
				<a href="#">Rabbit</a>
			</li>
			<li class="site-nav__item [ text--large ]">
				<a href="#">Horse</a>
			</li>
			<li class="site-nav__item [ text--large ]">
				<a href="#">Other</a>
			</li>
		</ul>

		<ul class="site-nav__sub">
			<li>
				<a href="#">
					<img src="./assets/images/icon--search.png" alt="search" >
				</a>
			</li>
			<li class="site-nav__sub-item [  ]">
				Claims
			</li>
			<li class="site-nav__sub-item [  ]">
				Manage Policy
			</li>
			<li class="site-nav__sub-item [  ]">
				Pet Advice
			</li>
			<li class="site-nav__sub-item [  ]">
				Help
			</li>
			<li class="site-nav__sub-item [  ]">
				About Petplan
			</li>
		</ul>
	</div>
</div>

