<div class="sticky-footer">
	<div class="{ container }">
		<div class ="{ row }">
			<div class="{ column col--medium-8 }">
				<div class="sticky-footer__mini-col">
					<div class="sticky-footer__live-chat  [ color--alpha  h5 ]">
						Live chat
					</div>
				</div>
				<div class="sticky-footer__mini-col">
					<div class="sticky-footer__phone [ color--alpha  h5 ]">
						0345 077 1934
					</div>
				</div>
			</div>	
			<div class="{ column col--medium-4 } [ position--relative ] ">
				<div class="sticky-footer__petplan-logo [ color--alpha h5 ]">
					Every pet deserves
				</div>

				<img class="sticky-footer__logo" src="./assets/images/footer-petplan-logo.png" alt="Petplan" >

			</div>
		</div>
	</div>
</div>