<section class="page-section">
	<div class="page-section__inner page-section--padded">
		<%- partial('../_partials/section-header',{
			title : 'Looking for the best <br class="hide-below--medium"> pet insurance for dogs?',
			titleClass : 'h2',
			intro : 'We insure more pets than any other UK insurance provider because we understand what\'s important to pets and their owners. Pet insurance is all we do. We\'re pet lovers, just like you.'
		}) %>

		<div class=" roundel-icon-row  roundel-icon-row--info { container } [ spacing-top--hecto ]">
			<div class="{ row row--milli  }">
				<div class="{ column col--smallest-6  col--medium-3 }">
					<div class="roundel-icon-row__icon roundel-icon-row-save ">
						<p class = "[ h5 spacing-top--nano ]">
							Save if you insure more than one pet
						</p>
					</div>

				</div>
				<div class="{ column col--smallest-6 col--medium-3 }   ">
					<div class="roundel-icon-row__icon roundel-icon-row-vets ">
						<p class = "[ h5 spacing-top--nano ]">
							We pay vets directly
						</p>
					</div>
				</div>
				<div class="{ column col--smallest-6 col--medium-3 } [ clear-below-medium  ]" >
					<div class="roundel-icon-row__icon roundel-icon-row-claims ">	
						<p class = "[ h5 spacing-top--nano  ]">
							We settle 90% of claims within 5 working days
						</p>
					</div>
				</div>
				<div class="{ column col--smallest-6 col--medium-3 } ">
					<div class="roundel-icon-row__icon roundel-icon-row-support ">	
						<p class = "[ h5 spacing-top--nano  ]">
							UK-based helpline
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>