<section class="page-section page-section--padding-top page-section--padding-top-large [ position--relative ]">
	<img class="pet-advice-lightbulbs page-section__top-image" src="./assets/images/lightbulbs.png" alt="" >
	<div class="page-section__inner page-section--padded curved-top-background curved-top-background--padding">

		<%- partial('../_partials/section-header',{
			title : 'Learn more <br> about your dog',
			headerClass: 'curved-top-background__inner'
		}) %>
			<div class="learn-more [ clearfix ] ">
				<div class =" { container  } [ spacing-top--milli ] ">
					<div class="curved-top-background__inner text--center">
						<ul class="dotted-list dotted-list--info   ">

							<li class="dotted-list__item spacing-bottom--nano [ h5 color--beta ]">
								<span>Characteristics of its breed</span>
							</li>
							<li class="dotted-list__item spacing-bottom--nano [ h5  color--beta ]">
								<span>Things to look out for</span>
							</li>
							<li class="dotted-list__item  [ h5  color--beta ]">
								<span>Stories about dogs like yours</span>
							</li>
						</ul>
						<img class="learn-more__image learn-more__image-dog" src="./assets/images/learn-about--dog.png" alt="dog" width="200">
					</div>
					<div class="[ text--center spacing-top--centi ]">
						<a href="#" class=" button--alpha button--small [  ]">Get dog advice</a>
					</div>
				</div>
			</div>
	</div>
</section>