<section class="page-section">
	<div class="page-section__inner page-section--padded">

		<%- partial('../_partials/section-header',{
			title : 'Quick Links',
			titleClass : 'h4 color--beta'
		}) %>

		<div class=" { container spacing-top--milli }">
			<div class="{ row row--milli  }">
				<div class="{ column col--medium-2 } [ hide-below--medium ]">
					&nbsp;
				</div>
				<div class="{ column col--small-6 col--medium-4 }">
					<a href="#" class=" button--alpha-clear button--small button--alpha-clear-chevron button--block " >Have 4 weeks free cover?</a>
				</div>
				<div class="{ column col--small-6  col--medium-4 }">
					<a href="#" class=" button--alpha-clear button--small button--alpha-clear-chevron button--block button--last ">Retrieve quote</a>
				</div>
					<div class="{ column col--medium-2 } [ hide-below--medium ]">
					&nbsp;
				</div>
			
			</div>
		</div>
</section>

