<section class="page-section">
	<div class="page-section__inner page-section--padded">
		<%- partial('../_partials/section-header',{
			title : 'What do you need',
			intro : 'WWe offer two different types of cover.'
		}) %>

		<div class=" cover-compare { container spacing-top--mega }">
			<div class="{ row row--milli  }">
				<div class="{ column col--medium-1 } [ hide-below--medium ] " data-equal-height>
					&nbsp;
				</div>
				<div class="{ column col--medium-4 } [ text--center ]" data-equal-height>
					<div class="cover-compare__image-block">
						<img class="cover-compare__header-image " src="./assets/images/cover-4-life-dog.png" alt="dog" >
					</div>
					<h4 class="cover-compare__heading [ color--delta  spacing-bottom--nano  text--center spacing-top--micro ]">
						Covered for Life<sup>&reg;</sup>
					</h4>
				
					<p>
						Your dog is insured for the rest of its life. You'll be covered for any new conditions as soon as you take out your policy. You can claim for conditions that become recurring as long as you renew each year.
					</p>
				</div>
				<div class="{ column col--medium-2 } [ text--center ]" data-equal-height >
					<div class="cover-compare__or [ h5 ]"><span><strong>OR</strong></span></div>
				</div>
				<div class="{ column col--medium-4 } [  text--center ]" data-equal-height >
					<div class="cover-compare__image-block">
						<img class=" cover-compare__header-image cover-compare__header-image-top" src="./assets/images/time-limited-dog.png" alt="dog" >
					</div>

					<h4 class=" [ color--beta  spacing-bottom--nano spacing-top--micro  ]">
						Time Limited 
					</h4>
				
					<p>
						Your dog is insured for any new conditions for 12 months. If you claim for a condition in that time, you won't be covered for it in future years.
					</p>
				</div>
				<div class="{ column col--medium-1 } [ hide-below--medium ]">
					&nbsp;
				</div>
			</div>
			<div class="{ container  }">
			<div class="cover-detail  [  hide-below--small  ]">
					<table class=" standard-table cover-detail__table  {  } [ spacing-top--giga   ]" >
						<thead>
							<th  class="cover-detail__table__col-1" scope="col" class="cover-detail__th-row" data-tablesaw-priority="persist">
								&nbsp;
							</th>
							<th  scope="col" class="cover-detail__th-col " >
								&nbsp;
							</th>
							
							<th  scope="col" class="cover-detail__th-col ">
								&nbsp;
							</th>
							<th scope="col"  class="cover-detail__th-col ">
								&nbsp;
							</th>
							<th scope="col" class="cover-detail__th-col ">
								&nbsp;
							</th>
						</thead>
						<tbody>
							<tr class = "[ hide-below--medium ] ">
								<th class="cover-detail__th-row ">
									
								</th>
								<th class="cover-detail__th-col [ th-primary  ]" colspan="3">
									Covered for life 
								</th>
								
								<th class="cover-detail__th-col [ th-secondary ]">
									Time-limited
								</th>


							</tr>
							<tr class = "[ hide-above--small ] ">
								<th class="cover-detail__th-col  hide-above--small ">
									&nbsp;
								</th>
								<th class="cover-detail__th-col [ th-primary  hide-above--small ]">
									Covered for life 
								</th>
								<th class="cover-detail__th-col [ th-primary hide-above--small ]" >
									Covered for life 
								</th>
								<th class="cover-detail__th-col [ th-primary  hide-above--small ]" >
									Covered for life 
								</th>
								<th class="cover-detail__th-col [ th-secondary  hide-above--small ]" >
									Time-limited
								</th>

							</tr>
							<tr>
								<th class="cover-detail__th-row ">
								Covered Type 
							</th>
							<th class="cover-detail__th-col [ td-primary  ] ">
								Covered for life <br>
								Ultimate
							</th>
							<th class="cover-detail__th-col [ td-primary--light  ] ">
								Covered for life <br>
								Classic <strong>+</strong>
							</th>
							</th>
							<th class="cover-detail__th-col [ td-primary--light  ] ">
								Covered for life <br>
								Classic	
							</th>
							<th class="cover-detail__th-col [ td-secondary  ] ">
								Time-limited<br>
								Essential
							</th>

							</tr>
							<tr class=""> 
								<th class="cover-detail__th-row ">
									Vet cost up to
								</th>
								<td class="[ td-primary  ] "> 
									£12,000
									<p>per year</p>
								</td>
								<td class="[ td-primary--light  ] "> 
									£7,000
									<p>per year</p>
								</td>
								<td class="[ td-primary--light  ] ">
									£4,000
									<p>per year</p>
								 </td>
								<td class="[ [ td-secondary  ] ">
								 	£3,000
								 	<p>per conditions for 12 months</p>
							 	</td>
							</tr>

							<tr class=""> 
								<th class="cover-detail__th-row">
									Complimentary <br> treatment
								</th>
								<td class="[ td-primary  ] "> 
									£2,000
								</td>
								<td class="[ td-primary--light text--center ]"> 
									£1,000
								</td>
									<td class="[ td-primary--light text--center ]"> 
									£1,000
								</td>
								<td class=" [ td-secondary   ]">
									£500
									<p>per conditions for 12 months</p>
								 </td>
							</tr>
							<tr class=" [ hide-below--medium ] "> 
								<th class="cover-detail__th-row  ">
									Complimentary <br> treatment
								</th>
								<td class="[ td-primary   ] "> 
									£2,000
								</td>
								<td colspan="2" class="[ td-primary--light text--center  ]"> 
									£1,000
								</td>
								<td class=" [ td-secondary    ]">
									£500
									<p>per conditions for 12 months</p>
								 </td>
							</tr>
							<tr class=" [ hide-above--small ] "> 
								<th class="cover-detail__th-row ">
									Death from <br> illness
								</th>
								<td class="[ td-primary  ] "> 
									£2,000
								</td>
								<td class="[ td-primary--light text--center   ]"> 
									£1,000
								</td>
								<td class="[ td-primary--light text--center  ]"> 
									£1,000
								</td>
								<td class=" [ td-secondary   ]">
									£500
									<p>per conditions for 12 months</p>
								 </td>
							</tr>
							<tr class=" [ hide-below--medium ] "> 
								<th class="cover-detail__th-row">
									Death from <br> illness
								</th>
								<td class="[ td-primary  ] "> 
									£2,000
								</td>
								<td colspan="2" class="[ td-primary--light text--center ]"> 
									£1,000
								</td>
								<td class=" [ td-secondary   ]">
									£500
									<p>optional extra</p>
								 </td>
							</tr>

								
						</tbody>
					</table>

				</div>
				<div class="cover-detail tablesaw-wrap [ hide-above--small ]">
					<table class=" standard-table cover-detail__table table-tablesaw {  } [   spacing-top--giga   ]" data-tablesaw-mode="swipe" data-tablesaw-minimap>
						<thead>
							<th  class="cover-detail__table__col-1" scope="col" class="cover-detail__th-row" data-tablesaw-priority="persist">
								&nbsp;
							</th>
							<th  scope="col" class="cover-detail__th-col " >
								&nbsp;
							</th>
							
							<th  scope="col" class="cover-detail__th-col ">
								&nbsp;
							</th>
							<th scope="col"  class="cover-detail__th-col ">
								&nbsp;
							</th>
							<th scope="col" class="cover-detail__th-col ">
								&nbsp;
							</th>
						</thead>
						<tbody>
							<tr class = "[ hide-below--medium ] ">
								<th class="cover-detail__th-row ">
									
								</th>
								<th class="cover-detail__th-col [ th-primary  ]" colspan="3">
									Covered for life 
								</th>
								
								<th class="cover-detail__th-col [ th-secondary ]">
									Time-limited
								</th>


							</tr>
							<tr class = "[ hide-above--small ] ">
								<th class="cover-detail__th-col  hide-above--small ">
									&nbsp;
								</th>
								<th class="cover-detail__th-col [ th-primary  hide-above--small ]">
									Covered for life 
								</th>
								<th class="cover-detail__th-col [ th-primary hide-above--small ]" >
									Covered for life 
								</th>
								<th class="cover-detail__th-col [ th-primary  hide-above--small ]" >
									Covered for life 
								</th>
								<th class="cover-detail__th-col [ th-secondary  hide-above--small ]" >
									Time-limited
								</th>

							</tr>
							<tr>
								<th class="cover-detail__th-row ">
								Covered Type 
							</th>
							<th class="cover-detail__th-col [ td-primary  ] ">
								Covered for life <br>
								Ultimate
							</th>
							<th class="cover-detail__th-col [ td-primary--light  ] ">
								Covered for life <br>
								Classic <strong>+</strong>
							</th>
							</th>
							<th class="cover-detail__th-col [ td-primary--light  ] ">
								Covered for life <br>
								Classic	
							</th>
							<th class="cover-detail__th-col [ td-secondary  ] ">
								Time-limited<br>
								Essential
							</th>

							</tr>
							<tr class=""> 
								<th class="cover-detail__th-row ">
									Vet cost up to
								</th>
								<td class="[ td-primary  ] "> 
									£12,000
									<p>per year</p>
								</td>
								<td class="[ td-primary--light  ] "> 
									£7,000
									<p>per year</p>
								</td>
								<td class="[ td-primary--light  ] ">
									£4,000
									<p>per year</p>
								 </td>
								<td class="[ [ td-secondary  ] ">
								 	£3,000
								 	<p>per conditions for 12 months</p>
							 	</td>
							</tr>

							<tr class=""> 
								<th class="cover-detail__th-row">
									Complimentary <br> treatment
								</th>
								<td class="[ td-primary  ] "> 
									£2,000
								</td>
								<td class="[ td-primary--light text--center ]"> 
									£1,000
								</td>
									<td class="[ td-primary--light text--center ]"> 
									£1,000
								</td>
								<td class=" [ td-secondary   ]">
									£500
									<p>per conditions for 12 months</p>
								 </td>
							</tr>
							<tr class=" [ hide-below--medium ] "> 
								<th class="cover-detail__th-row  ">
									Complimentary <br> treatment
								</th>
								<td class="[ td-primary   ] "> 
									£2,000
								</td>
								<td colspan="2" class="[ td-primary--light text--center  ]"> 
									£1,000
								</td>
								<td class=" [ td-secondary    ]">
									£500
									<p>per conditions for 12 months</p>
								 </td>
							</tr>
							<tr class=" [ hide-above--small ] "> 
								<th class="cover-detail__th-row ">
									Death from <br> illness
								</th>
								<td class="[ td-primary  ] "> 
									£2,000
								</td>
								<td class="[ td-primary--light text--center   ]"> 
									£1,000
								</td>
								<td class="[ td-primary--light text--center  ]"> 
									£1,000
								</td>
								<td class=" [ td-secondary   ]">
									£500
									<p>per conditions for 12 months</p>
								 </td>
							</tr>
							<tr class=" [ hide-below--medium ] "> 
								<th class="cover-detail__th-row">
									Death from <br> illness
								</th>
								<td class="[ td-primary  ] "> 
									£2,000
								</td>
								<td colspan="2" class="[ td-primary--light text--center ]"> 
									£1,000
								</td>
								<td class=" [ td-secondary   ]">
									£500
									<p>optional extra</p>
								 </td>
							</tr>

								
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>	
</section>