<div class="hero-banner__outer-wrap [ position--relative ]">
	<div class="hero-banner__curve-down">
		<div class="hero-banner__image hero-banner__image-dog-insurance">
			<div class= "{ container curved-top-background__inner } [ position--relative ]">
				<div class="{ row row--nano }">
					<div class="{ column col--small-1 }  [ hide-below--small  ] ">&nbsp;</div>

					<div class="{ column  col--medium-10 col--large-10    }">
						<h1 class="hero-banner__header hero-banner__content-left [ text--white ]">
							Dog insurance
						</h1>
						<h2  class="hero-banner__sub-header  [  h4 text--white  	spacing-top--micro  hero-banner__content-left ]">
						Insuring Britain's best friends since 1976
						</h2>
						<div class="hero-banner__content hero-banner__content-left">
					
							<a href="#" class="[ hide-below--medium spacing-top--milli ] button--beta button--smaller">Get a quote</a>
							<ul class= "hero-banner__links [ text--white ide-below--medium spacing-top--milli h5 ] ">
								<li class="hero-banner__links__item">	
									<a href="#" >
										Extend your 4-week cover
									</a>
								</li>
								<li class="hero-banner__links__item">
									<a href="#" >
										Retrieve a quote
									</a>
								</li>
							</ul>
						</div>						
					</div>
					<div class="{ column col--small-1 } [ hide-below--small  ] ">&nbsp;</div>
				</div>
				
			</div>
		</div>
	</div>
	<img class="hero-banner__badge hero-banner__badge-dog-insurance " src="./assets/images/vets-9-10-badge.png" alt="recommended by vets" >
</div>
