
<section class="page-section">
	<div class="page-section__inner page-section--padded">

		<div class ="cover-selector { container  } ">
			<ul class="cover-selector-slider">
				<li class="cover-selector__slider-item text--center">
					<div class="cover-selector-animal cover-selector-dog [ spacing-bottom--milli  ]"></div>
					<a class="cover-selector__slider--link chevron-link--solid chevron-link--alpha [ h4 text--weight-normal  ]" href="dog-insurance.html">Dog cover</a>
				</li>
				<li class="cover-selector__slider-item text--center">
					<div class="cover-selector-animal cover-selector-cat [ spacing-bottom--milli ]"></div>
					<a class="cover-selector__slider--link chevron-link--solid chevron-link--alpha [ h4  text--weight-normal  ]" href="dog-insurance.html">Cat cover</a>
				</li>
				<li class="cover-selector__slider-item [  text--center ]">
			   		<div class="cover-selector-animal cover-selector-rabbit [ spacing-bottom--milli ]"></div>
			   		<a class="cover-selector__slider--link chevron-link--solid chevron-link--alpha [ h4   text--weight-normal ]"  href="dog-insurance.html">Rabbit cover</a>
	   			</li>
			</ul>
			<button class="cover-selector__button cover-selector__button--next { hide-above--large }"></button>
			<button class="cover-selector__button cover-selector__button--prev { hide-above--large }"></button>
		</div>
	</div>
</section>