<section class="page-section">
	<div class="page-section__inner page-section--padded">

		<%- partial('../_partials/section-header',{
			title : 'Testimonials',
			intro : 'See what other pet owners have to say about us.'
		}) %>
		<div class ="testimonial-wrapper { container  } [ spacing-top--hecto ]">
			<div class="{ row }">
				<ul class="testimonial-slider">
					<li class="testimonial-slider__item" data-equal-height>
						<div class="testimonial-slider__wrapper">
							<h5 class="[ color--beta spacing-bottom--nano  ]">
								Sarah, Guildford
							</h5>
							<p class="[ color--alpha ]" data-equal-height>
							I have used Petplan before and I have every confidence and peace of mind that if Mylo ever got poorly he would be looked after properly. I have taken out the best policy available as Mylo will be a big lad when he grows up. Mylo is part of our family now so he needs to be treated the same, we hope to have many years of fun and enjoyment with him.
							</p>
						</div>
						<img class="testimonial-slider__avatar " src="./assets/images/avatar--testimonial-1.png" alt="recommended by vets" >					
					</li>
					<li class="testimonial-slider__item">
						<div class="testimonial-slider__wrapper">
							<h5 class="[ color--beta spacing-bottom--nano  ]">
							Ben, Norwich
							</h5>
							<p class="[ color--alpha ]" data-equal-height>
							Petplan came highly recommended by my veterinary surgery. I can honestly say that we have received an excellent service, all phone calls were met with a very friendly and compassionate team. The claim was settled quickly and with no problems. Would highly recommend them to others.
							</p>
						</div>
						<img class="testimonial-slider__avatar " src="./assets/images/avatar--testimonial-2.png" alt="recommended by vets" >
					</li>
					<li class="testimonial-slider__item" >
						<div class="testimonial-slider__wrapper">
							<h5 class="[ color--beta spacing-bottom--nano  ]">
							Rachel, London
							</h5>
							<p class="[ color--alpha ]" data-equal-height>
							We recently adopted a rescue dog and I did a long trawl through the various insurance options. Vetsure came out best from the perspective of cover offered, value for money and customer service. The couple of times I rang to clarify points they were extremely helpful. I haven’t yet had to make a claim, but based on my experience with the application process and previous reviews I am hopeful it will go as smoothly as applying for the insurance in the first place.
							</p>
						</div>
						<img class="testimonial-slider__avatar " src="./assets/images/avatar--testimonial-3.png" alt="recommended by vets" >
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>