<section class="page-section">
	<div class="page-section__inner page-section--padded">

		<%- partial('../_partials/section-header',{
			title : 'Get involved',
			intro : 'Current promotions'
		}) %>
	
		<div class ="promotions { container  } [ spacing-top--milli ]">
			<div class="{ row row--micro  }  ">
				<div class="{ column  col--medium-6  } [ text--center ]">
					<div class= "promotions-image">
						<img class="" src="./assets/images/petplan-promo-1.jpg" alt="" >
					</div>
					<h4 class="[ spacing-top--milli  squeeze-medium ]"> 
						Hot Hound &amp; <br class= "[ hide-below--medium ]"> Cool Cat Hacks!
					</h4>
					<p class='[ text--main-font spacing-top--nano squeeze-medium ]'>
						To help protect your pet from the heat this summer, check out Petplan's &amp; Battersea Dogs &amp; Cats Home top tips to keep your pet's cool!
					</p>
					<a href="#" class="promotions__link button--alpha button--small [  spacing-top--nano ]">Find out more</a>
				</div>
				<div class="{ column  col--medium-6  } [ text--center spacing-top--milli--bp-max-medium ]">
					<div class= "promotions-image">
						<img class="" src="./assets/images/petplan-promo-2.jpg" alt="" >
					</div>
					<h4 class="[ spacing-top--milli squeeze-medium ]"> 
						40 years of <br class= "[ hide-below--medium ]">  helping your pets
					</h4>
					<p class='[ text--main-font spacing-top--nano squeeze-medium ]'>
						Petplan have been providing pet insurance in the UK since 1976. We pride ourselves on the quality of specialist support and care we give to all our customers.
					</p>
					<a href="#" class="promotions__link button--alpha button--small [  spacing-top--nano ]">Find out more</a>
				</div>
			</div>
		</div>
	</div>
</section>