<section class="page-section">
	<div class="page-section__inner page-section--padded">
		<div class="{ row } full-double-cta ">
			<div class="{ column  col--medium-6  } ">
				<div class="full-double-cta__bkg full-double-cta__bkg-dog">						
					<div class="full-double-cta__cover">
						<div class="full-double-cta__content text--center text--white">
							<h3 class="full-double-cta__content__text">In 2015, we donated</h3>
							<img class="full-double-cta__content__item [    ] " src="./assets/images/home-charity-donation.png" alt="£3,168,548 donated">
							<h3 class="full-double-cta__content__text">to charities</h3>
							
							<a href="#" class="full-double-cta__content__link button--alpha button--small">Get a quote</a>
						
						</div>			
					</div>		
					
				</div>
				<div class="container spacing-top--centi spacing-bottom--centi [ hide-above--medium text--center ]">
					<a href="#" class="button--alpha button--mobile-block">Get a quote</a>
				</div>
			</div>
			<div class="{ column col--medium-6 } full-double-cta-cat ">
				<div class="full-double-cta__bkg full-double-cta__bkg-cat">
				
					<div class="full-double-cta__cover">
						<div class="full-double-cta__content text--center text--white">
							<h3 class="full-double-cta__content__text">Promoted by</h3>

							<h3 class="full-double-cta__content__text [ h2 ] ">9/10 Vets</h3>
							
							<a href="#" class="full-double-cta__content__link button--alpha button--small">Find out more</a>
						
						</div>			
					</div>		
			
				</div>
				<div class="container spacing-top--centi spacing-bottom--centi [ hide-above--medium text--center ]">
					<a href="#" class="button--alpha button--mobile-block">Find out more</a>
				</div>
			</div>
		</div>
	</div>
</section>