
<div class="hero-banner__curve-down">
	<div class="hero-banner__image hero-banner__image-home">
		<div class= "{ container } [ position--relative ]">
			<div class="{ row row--nano }">
				<div class="{ column col--small-1 }  [ hide-below--small  ] ">&nbsp;</div>

				<div class="{ column  col--medium-10 col--large-10    }">
					<h1 class="hero-banner__header [ text--white text--center ]">
						Every pet deserves Petplan
					</h1>
				</div>
				<div class="{ column col--small-1 } [ hide-below--small  ] ">&nbsp;</div>
			</div>
			<div class="{ row }">
				<div class="{ column col--small-1 } [ hide-below--small ] ">&nbsp;</div>

				<div class="{ column  col--medium-10   }">
					<h2  class="hero-banner__sub-header [ spacing-top--nano text--white text--center h4 ]">
						 Providing specialist pet insurance since 1976.
					</h2>
				</div>

				<div class="{ column col--small-1 } [ hide-below--small ] ">&nbsp;</div>
			</div>
			<img class="hero-banner__badge hero-banner__badge-home " src="./assets/images/vets-recommend-badge.png" alt="recommended by vets" >
		</div>

	</div>

</div>
