<section class="page-section">
	<div class="page-section__inner page-section--padded">

		<%- partial('../_partials/section-header',{
			title : 'Unrivalled support <br > for pet owners',
			titleClass : 'h2 color--alpha',
			intro : 'Petplan have been providing pet insurance in the UK since 1976. We pride ourselves on the quality of specialist support and care we give to all our customers.'
		}) %>
		<div class=" roundel-icon-row  roundel-icon-row--info { container } [ spacing-top--hecto ]">
			<div class="{ row row--milli  }">
				<div class="{ column col--smallest-6  col--medium-3 }">
					<div class="roundel-icon-row__icon roundel-icon-row-feefo ">
						<p class = "[ h5 spacing-top--nano ]">
							Feefo service rating: 91% 8115 reviews
						</p>
					</div>

				</div>
				<div class="{ column col--smallest-6 col--medium-3 }   ">
					<div class="roundel-icon-row__icon roundel-icon-row-vets ">
						<p class = "[ h5 spacing-top--nano ]">
							We pay vets directly
						</p>
					</div>
				</div>
				<div class="{ column col--smallest-6 col--medium-3 } [ clear-below-medium  ]" >
					<div class="roundel-icon-row__icon roundel-icon-row-claims ">	
						<p class = "[ h5 spacing-top--nano  ]">
							90% if claims settled within five working days
						</p>
					</div>
				</div>
				<div class="{ column col--smallest-6 col--medium-3 } ">
					<div class="roundel-icon-row__icon roundel-icon-row-support ">	
						<p class = "[ h5 spacing-top--nano  ]">
							Support and bereavement couselling helpline
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>